#Configuration wifi autopower on
# Seconds between check if all the clients are disconnecteds. Must be > 0
SECONDS_BETWEEN_CHECK=20
# Times to verify that there is no clients, before power off wifi. If we have SECONDS_BETWEEN_CHECK=20 and TIMES_TO_BE_CHECKED_TO_0=3 
# we will check each 20 seconds and 3 times with no clients. The wifi will poweroff. 20*3=60 secs to wait for clients, before power off. 
TIMES_TO_BE_CHECKED_TO_0=3
#The macs you want to power on the wifi. You can put one or more separated by ||
#DONT forget to put between ""
#MAC_ADDRESS="aa:bb:cc:dd:ee:ff||aa:bb:cc:32:00:ff"
MAC_ADDRESS=
#The wifi ap
WLAN=wlan0
#The phisical radio device
PHY_W=phy0
